@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
  --primary-color-first: hsl(300, 43%, 22%);
  --primary-color-second: hsl(333, 80%, 67%);

  --neutral-color-first: hsl(303, 10%, 53%);
  --neutral-color-second: hsl(300, 24%, 96%);
  --neutral-color-third: hsl(0, 0%, 100%);

  --primary-font: 'League Spartan', sans-serif;

  --fs-body: .9375rem;
 

  --fw-400: font-weight: 400;
  --fw-500: font-weight: 500;
  --fw-700: font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  display: grid;
  place-items: center;
  min-height: 100vh;
  
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  place-items: center;
  
}
.intro__container {

}

.ratings__container {

}

.testimonials__container {
grid-column: 1 / 3;
}

